<div class="form_item_block">
    <label>Repository URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">{{ GOINPUTNAME[url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Bitbucket Server URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="apiUrl" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[apiUrl].$error.server">{{ GOINPUTNAME[apiUrl].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Project name:<span class="asterisk">*</span></label>
    <input type="text" ng-model="projectName" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[projectName].$error.server">{{ GOINPUTNAME[projectName].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Username:<span class="asterisk">*</span></label>
    <input type="text" autocomplete="new-password" ng-model="username" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Password:<span class="asterisk">*</span></label>
    <input type="password" autocomplete="new-password" ng-model="password" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Default Branch:</label>
    <input type="text" ng-model="defaultBranch" ng-required="false"/>
    <span class="form_error" ng-show="GOINPUTNAME[defaultBranch].$error.server">{{ GOINPUTNAME[defaultBranch].$error.server }}</span>
</div>